.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }
 
  .listing-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
  }
 
  .listing-location::before {
    content: url('/assets/location-pin.svg') / '';
  }
 
  .listing-location {
    font-size: 24pt;
    margin-bottom: 15px;
  }
 
  .listing-features > .section-heading {
    color: palevioletred;
    font-size: 24pt;
    margin-bottom: 15px;
  }
 
  .listing-features {
    margin-bottom: 20px;
  }
 
  .listing-features li {
    font-size: 14pt;
  }
 
  li {
    list-style-type: none;
  }
 
  .listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
  }
 
  label, input {
    display: block;
  }
  label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }
  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }
  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
      height: 400px;
    }
  }
  ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #f00557; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
ul{
	color:#f5565e;
	font-family: 'Dancing Script';
}
.space{
	margin-left:5px;
	font-size:20px;
	
}
.first:hover{
	border:none; 
	border:3px solid palevioletred;
}
.second:hover{
	border:none; 
	border:3px solid palevioletred;
}
.third:hover{
	border:none; 
	border:3px solid palevioletred;
}



.space1{
	margin-left:5px;
	font-size:20px;
}
.space2{
	margin-left:5px;
	font-size:20px;
}
.space3{
	margin-left:5px;
	font-size:20px;
}
.first{
	color:#c350ed;
	border:none;
	border-radius:8px;
	margin-left:5px;
}
.second{
	color:#c350ed;
	border:none;
	border-radius:8px;
	margin-left:5px;
}
.third{
	color:#c350ed;
	border:none;
	border-radius:8px;
	margin-left:5px;
}
.primary{
	margin-left:5px;
	font-size:20px;
	color:#877386;
	padding:15px 15px;
	border-radius:8px;
	border:none;
}
.primary:hover{
	color:pink
}